<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app" class="app">
        <div class="head">Memo App</div>
        <div class="body">
            <div class="list" v-if="mode === 'list'">
                <ul>
                    <li v-for="m in memos" @click="open(m.id)">{{ m.content }}</li>
                </ul>
            </div>
            <div class="write" v-else>
                <textarea v-model="memo.content"></textarea>
                <button class="save-btn" type="button" @click="save()">Save</button>
                <button class="remove-btn" type="button" @click="cancel()">Delete</button>
            </div>
            <button class="add-btn" type="button" @click="write()" v-if="mode === 'list'">+</button>
        </div>
    </div>
    <script src="vue.js"></script>
    <script src="app.js"></script>
</body>

</html>