<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>브이바인드</title>
</head>
<style>
    button {
        background: white;
        border: 1px solid gray;
        margin: 0 5px;
        cursor: pointer;
    }

    button.active {
        background: blue;
        color: white;
        border: blue;
    }
</style>

<body>
    <div id="app">
        <button v-for="p in pages" v-bind:class="{'active' : page === p}" @click="page = p">{{ p }}</button>
        <hr>
        <div v-for="p in pages" v-if="page === p">
            <p> {{ p }} content</p>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                page: 'page1',
                pages: ['page1', 'page2', 'page3', 'page4']
            },
            methods: {

            }
        })
    </script>
</body>

</html>